@model  List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Duyurular</h1>
            <br />
            <a class="btn btn-primary mb-3" href="/admin/products/new">Yeni</a>
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>UnitsInStock</th>
                            <th>UnitPrice</th>
                            <th>SalePrice</th>
                            <th>CategoryNo</th>
                            <th>Image</th>
                            <th>IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (Product products in Model)
                        {
                        <tr>
                            <td>@i</td>
                            <td>
                                <p class="list-item-heading">@products.Name</p>
                            </td>
                            <td>
                                <p class="text-muted">@products.Description</p>
                            </td>
                            <td>
                                <p class="text-muted">@products.UnitsInStock</p>
                            </td>
                            <td>
                                <p class="text-muted">@products.UnitPrice</p>
                            </td>
                            <td>
                                <p class="text-muted">@products.SalePrice</p>
                            </td>

                            <td>
                                <p class="text-muted">@products.CategoryNo</p>
                            </td>

                            <td>
                                <img  width="100" height="75"  src="~/Areas/UploadedFiles/@products.Image" />
                            </td>
                            <td>
                                <p class="text-muted">@products.IsActive</p>
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="/admin/products/view/@products.Id">Görüntüle</a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


